# Python
__pycache__/
*.pyc
venv/
.env

# Data & Results
cache_store/
*.csv
*.png
*.txt
!requirements.txt
*.log
results/
final_report*
!serving/serving_logs/*.csv
!serving/serving_logs/*.log


# IDE
.vscode/
.idea/
